* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}


.table-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

th:first-child, td:first-child {
    background-color: #f2f2f2;
    font-weight: bold;
    text-align: center;
}

td {
    text-align: center;
}
td:first-child {
    
    transform: rotate(-90deg);
    transform-origin: left bottom;
    white-space: nowrap; 
    width: 40px; 
    padding: 5px; 
    text-align: center;
    vertical-align: middle; 
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
}
td:empty {
    border: 1px dashed #ddd; 
}

button:hover {
    background-color: #0056b3;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

select {
    width: 100%; 
    padding: 5px;
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer;
  }
  select:disabled {
    background-color: transparent; 
    color: #000; 
    cursor:default;
    opacity: 1; 
  }
table {
    user-select: none;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 30px;
    height: 4px;
    background-color: rgb(0, 0, 0);
    margin: 4px 0;
    transition: transform 0.3s, opacity 0.3s;
}

.menu-open .bar:nth-child(1) {
    transform: translateY(6px) rotate(45deg);
}

.menu-open .bar:nth-child(2) {
    opacity: 0;
}

.menu-open .bar:nth-child(3) {
    transform: translateY(-6px) rotate(-45deg);
}
.menu-container {
    display: none;
}

.menu-container.active {
    display: block;
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
    text-align: center;
    margin: auto;
}


.menu-items li {
    padding: 10px;
    text-align: center;
}
img{
    height: 2vh;
}
.menu-items li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s;
}

.menu-items li a:hover {
    color: #007bff;
}

.menu-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    position: absolute;
    left: 10px; 
}

.bar {
    width: 24px;
    height: 2px;
    background-color: rgb(0, 0, 0);
}

.menu-container {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px; 
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 10px;
    text-align: center;
}

.menu-items li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s;
}

.menu-items li a:hover {
    color: #007bff;
}
